#wrapper{
	text-align:left;
	float:left;
	padding:50px;
	font-size: 8.5em;
	line-height: 0.5em;
}

#swag {
	
	font-size: 0.40em;
	
}

#sloth {
	position:absolute; max-width: 40%;
	height: auto;
	width: auto\9; 
	float:right; 
	right:0px; 
	bottom:0px; 
	z-index:-1;
 }

.link{
	display:none;
	color: inherit;
	font-size: .45em;
	text-decoration: none;
	color:#1B8EE0;
	/*color:#C2C2C2;*/

}
#links {
	font-family:"Oxygen";
	padding-top:2em;
}
span {
	
	display:none;
	
}

body{
	font-family: "Anaheim", sans-serif;
	font-size:62.5%;
}

