#headContainer {
	text-align:left;
	padding:50px;
}

#name {
	padding-bottom:5px;
	display: none;
}

body{
	background-repeat:no-repeat;
	background-attachment:fixed;
    background-image: url('slothgetmoney.jpg');
    

}