#wrapper{
	text-align:left;
	float:left;
	padding:50px;
	font-size: 8.5em;
	line-height: 0.5em;
}

#swag {
	
	font-size: 0.40em;
	
}

.link{
	display:none;
	color: inherit;
	font-size: .45em;
	text-decoration: none;
	color:#1B8EE0;
	/*color:#C2C2C2;*/

}
#links {
	font-family:"Oxygen";
	padding-top:2em;
}
span {
	
	display:none;
	
}

body{
/*	background-repeat:no-repeat;
	background-attachment:fixed;
    background-image: url('slothgetmoney.jpg'); */
	font-family: "Anaheim", sans-serif;
	font-size:62.5%;
    

}